#play {
  position: relative;
  width: 100%;
  min-height: 750px;

  #gameboard {
    height: 601px;
    width: 600px;
    margin: auto;
    
    .alert {
      margin-top: 5px;
      margin-bottom: 10px;
    }
    
    .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
    }
    
    .controls {
      text-align: center;
      margin-bottom: 15px;
      
      button, input {
        margin: 5px 10px
      }
      
      .notification-bar {
        margin-top: 10px;
      }
    }
    
    .board {
      width: 601px;
      height: 100%;
      border-top: 1px solid black;
      border-left: 1px solid black;
      margin-bottom: 5px;
      
      .board-row {
        position: relative;
        height: 33.3%;
        clear: both;
        border-bottom: 1px solid black;
        
        .board-cell {
          float: left;
          border-right: 1px solid black;
          height: 200px;
          width: 200px;
        }
      }
    }
  }
  
  @media screen and (max-width: 639px) {
    min-height: 560px;
  
    #gameboard {
      height: 346px;
      width: 346px;
      
      .controls {
        margin-bottom: 10px;
        
        .form-group, .alert {
          margin-bottom: 5px;
        }
        
        .btn-lg {
          font-size: 14px;
          padding: 6px 12px;
        }
      }
      
      .board {
        width: 346px;
        
        .board-row {
          .board-cell, img {
            height: 115px;
            width: 115px;
          }
        }
      }
    }
  }
}